<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_loading_screen_app"
        android:label="Burner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CAPSTONE">

        <activity android:name=".RegisterActivity"
            android:theme="@style/Theme.CAPSTONE.NoActionBar" />

        <activity android:name=".ChatRoomActivity"
            android:theme="@style/Theme.CAPSTONE.NoActionBar"/>

        <activity android:name=".ChatActivity"
            android:theme="@style/Theme.CAPSTONE.NoActionBar" />

        <activity android:name=".HomescreenActivity"
            android:theme="@style/Theme.CAPSTONE.NoActionBar" />

        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.CAPSTONE.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginFinalActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.CAPSTONE.NoActionBar"
            android:networkSecurityConfig="@xml/network_security_config"/>
        <activity
            android:name=".SimpleChat"
            android:label="ContactName" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:label="UserName"
            android:theme="@style/Theme.CAPSTONE.NoActionBar"
            android:networkSecurityConfig="@xml/network_security_config">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>